# Eclipse specific files
/.classpath
/.project
/.settings/

# Java specific files
*.class
*.jar
*.war
*.ear

# Maven specific files
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logging.properties

# Maven wrapper files
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# Log files
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# IntelliJ IDEA specific files (if using IDEA in addition to Eclipse)
/.idea
*.iml
*.iws

# Eclipse Web Tools Platform specific files
/.deployables/

# User-specific files
*.local
*.sublime-project
*.sublime-workspace

# Common VCS files
.vscode/
*.diff
*.patch